.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.container {
  height: 25rem;
  width: 35rem;
  box-shadow: 20px 20px 50px -20px hsl(241, 100%, 89%);
  border: 20px;
  border-radius: 7%;
  background-color: hsl(0, 0%, 100%);
}

.result {
  border-radius: inherit;
  width: 50%;
  height: inherit;
  background-color: hsl(166, 100%, 37%);
}
